*{
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color:khaki;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.myntra_home{
    height: 36px;
    width: 53px;
}
.logo_container{
    margin-left: 4%;
}
.action_bar{
    margin-right: 4%;
}
.nav_bar{
    display: flex;
    min-width:500px;
    justify-content: space-between;
}
.nav_bar a{
    font-size: 14px;
    letter-spacing: 0.3px;
    color: black;
    font-weight: 700;
    text-decoration: none;
}
.nav_bar a sup{
    color: #ff3f6c;
    font-size: 10px;
    
}
.search_bar{
    height: 40px;
    min-width: 400px;
    display: flex;
    align-items: center;
    

}
.search_input{
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow:1;
    height: 40px;
    border-radius: 0 4px 4px 0;
    border:0;
}
.search_icon{
    height: 20px;
    padding: 10px;
    box-sizing: content-box;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}